body {
      margin: 0;
      padding: 0;
      font-family: "Montserrat","Lato", sans-serif;
      font-style: normal;
      font-size: 16px;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
      margin: 0;
}
* {
      box-sizing: border-box;
}